page {
  background: white;
  display: block;
  margin: 0 auto;
  margin-top: 1cm;
  margin-bottom: 1cm;
  box-shadow: 0 0 0.6cm rgba(0,0,0,0.6);
}

page[size="A4"] {  
  width: 21cm;
  height: 29.7cm;
  padding: 15px;
  
}
.name{
  font-size: 22px;
  text-transform: uppercase;
  font-weight: bold;
}
.education{
  font-size: 1.1em;
}
.padding{
     width: 20cm;
     height: 28.4cm;
     border: 3px ridge black;
     padding: 4px;
}

.template1hero{
    margin-top: 20px;
    font-size: 14px;
    text-align: center;
} 

.subheadings{
    border-top:1px solid black;
    border-bottom: 3px solid black;
    border-right: 3px solid black;
    border-left:1px solid black;
    font-size: 14px;
    padding: 5px;
    margin-top: 15px;
    margin-left: 0px;
    margin-right: 18px;
    margin-bottom: 5px;
    text-align: center;
}
.marginleft{
  margin-left: 18px;
  margin-right: 18px;
}
.margin-0{
  margin-left: 0px;
}
.email{
  margin-top:5px;
}
.bold{
  font-weight: bold;
}